<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

<body>
  <%- include("../partials/navbar") %>
  <form>
    <div class="form-group">
      <label for="SkillName">Add New Skill</label>
      <input type="text" class="form-control" placeholder="add new skill" input="SkillName">
      <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Skill Name</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <%for (let i = 0; i < skills.length; i++) {%>
      <tr>
        <td><%= skills[i].id%></td>
        <td><%= skills[i].SkillName %></td>
        <td>
          <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-secondary">Edit</button>
            <button type="button" class="btn btn-secondary">Delete</button>
          </div>
        </td>

      </tr>
      <%}%>
    </tbody>
  </table>
</body>

</html>